h1 {
  text-align: center;
}

table {
  width: 95%;
  margin: 0 auto;
  border-style: double;
}

thead {
  background: grey;
}

.sorting {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sort-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}